.gv-bot-container{
    position: absolute;
    bottom: 0;
    right: 40px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    animation: chatdown 0.5s ease-in-out;
}

@keyframes chatdown {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        height: 520px;
        opacity: 1;
    }
}