.gv-calendar-block-container{
    background: var(--color4);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.gv-calendar-and-reservation{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.gv-calendar-container{
    width: 66%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}

.gv-calendar-container .rdrDays{
  pointer-events: none;
}

.gv-calendar-range{
    width: 720px;
    height: 330px;
    display: flex;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.gv-reservation-container{
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gv-reservation-box{
    background: var(--white);
    width: 100%;
    padding: 2.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.gv-reservation-button{
    background: var(--primary);
    border-radius: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.gv-reservation-button p{
    color: var(--white);
    padding: 1rem 7.5rem;
} 

@media screen and (min-width: 1600px) {
    .gv-calendar-range{
        width: 80%;
    }

    .gv-calendar-and-reservation{
      width: 80%;
    }
}

@media screen and (max-width: 1200px) {
    .gv-calendar-and-reservation{
        flex-direction: column;
        gap: 2rem;
    }

    .gv-calendar-container{
        width: 100%;
    }

    .gv-calendar-range{
        width: 100%;
    }

    .gv-reservation-container{
        width: 95%;
    }

    .gv-reservation-box{
        width: 100%;
        flex-direction: row;
        background: none;
        box-shadow: none;
    }

    .gv-reservation-button p{
        padding: 0.5rem 5rem;
    }
}
  
@media screen and (max-width: 760px) {
    .gv-calendar-range{
        width: 100%;
        height: 550px;
    }

    .gv-calendar-block-container{
        padding: 0;
    }

    
}

@media screen and (max-width: 468px){
    .gv-reservation-box{
        flex-direction: column;
    }

    .gv-reservation-button p{
        padding: 0.5rem 9rem;
    }
}


